.container {
  width: 100%;
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

}
.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
