.wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 35vw;
  height: 30%;
}
.productInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  &:nth-child(2) {
    padding-bottom: 40px;
  }
}
