.wrapper {
  padding: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.textBlock {
  width: 100%;
}
.productInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.description {
  padding-top: 40px;
}
